<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--注意：
（1）每一个mapper.xml文件都有一个命名空间，该命名空间表示：该mapper.xml文件和哪个接口绑定起来。
（2）该接口是用来操作DB的。
-->

<mapper namespace="com.wind.dao.EmployeeDao">

    <insert id="insertEmployee" parameterType="employeeEntity" useGeneratedKeys="true" keyProperty="id">
        insert into TBL_Employee(Name, Gender, Email)
        values (#{employeeEntity.name},
                #{employeeEntity.gender},
                #{employeeEntity.email})
    </insert>

    <delete id="deleteEmployee" parameterType="int">
        delete
        from TBL_Employee
        where id = #{id}
    </delete>

    <update id="updateEmployee">
        update TBL_Employee
        <set>
            <if test="employeeEntity.name != null and employeeEntity.name != '' ">
                name = #{employeeEntity.name},
            </if>
            <if test="employeeEntity.gender != null and employeeEntity.gender!=''">
                gender = #{employeeEntity.gender},
            </if>
            <if test="employeeEntity.email !=null and employeeEntity.email != ''">
                email = #{employeeEntity.email}
            </if>
        </set>
        where id = #{employeeEntity.id}
    </update>

    <select id="queryEmployeeById" resultType="com.wind.entity.EmployeeEntity">
        select *
        from TBL_Employee
        where id = #{id}
    </select>

</mapper>
